<div>
  <% if @access_token %>
    <div class="mt-8">
      <h2 class="font-semibold text-2xl">Access Token:</h2>
      <div class="relative w-288 mt-4">
        <pre id="access-token" class="bg-gray-100 p-4 overflow-x-auto rounded border border-gray-300">
<%= @access_token %>
        </pre>
        <button
          onclick="copyToken()"
          class="mt-4 bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded cursor-pointer"
        >
          Copy
        </button>
      </div>
    </div>
  <% end %>

  <div class="mt-8 space-x-4">
    <%= button_to 'Logout', '/auth/logout', method: :get, data: { turbo: false }, class: 'bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded' %>
    <%= button_to 'Home', root_url, method: :get, data: { turbo: false }, class: 'bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded' %>
  </div>
</div>

<script>
  function copyToken() {
    const tokenElement = document.getElementById("access-token");
    const token = tokenElement.innerText.trim();
    navigator.clipboard.writeText(token).then(() => {
      alert("Token copied to clipboard!");
    }).catch(err => {
      alert("Failed to copy token.");
      console.error(err);
    });
  }
</script>
